<div class="user-card">
  <div class="user-avatar">
    <img *ngIf="user?.photoUrl; else defaultIcon" [src]="backendUrl+user?.photoUrl" alt="Avatar" class="avatar-img" />
    <ng-template #defaultIcon>
      <img src="assets/defaultIcon.jpg" alt="Default Icon" class="avatar-img">
      <i class="fas fa-user"></i>
    </ng-template>
  </div>

  <h2 class="user-name">
    {{ user?.firstName }} {{ user?.lastName }}
  </h2>

  <button class="button-delete" (click)="delete()">
    <i class="fas fa-trash-alt"></i> Supprimer
  </button>
  <button (click)="goToUserHistory()" class="button-voir-historique">Voir historique</button>
</div>
