<!-- Mise à jour de users/user/user.component.html -->
<div class="user-card">
  <div class="user-avatar">
    <i class="fas fa-user"></i>
  </div>

  <h2 class="user-name">
    {{ user?.firstName }} {{ user?.lastName }}
  </h2>

  <div class="user-actions">
    <button *ngIf="user?.role === 'Accueilli'" (click)="goToUserExercices()" class="button-exercices">
      <i class="fas fa-gamepad"></i> Exercices
    </button>
    <button (click)="goToUserHistory()" class="button-voir-historique">
      <i class="fas fa-history"></i> Historique
    </button>
    <button class="button-delete" (click)="delete()">
      <i class="fas fa-trash-alt"></i> Supprimer
    </button>
  </div>
</div>