.header {
    background-color: #f8f9fa;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    height: 80px;

    .header-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .logo img {
      height: 50px;
      width: auto;
    }

    .header-text {
      flex: 1;
      margin-left: 20px;
      cursor: default;

      h1 {
        margin: 0;
        font-size: 24px;
        color: var(--purple2);
      }

      p {
        margin: 0;
        font-size: 14px;
        color: var(--purple2);
      }
    }

    .nav-menu ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;

      li {
        margin-left: 20px;
        border-radius: 5px;
        color: var(--yellow1);
        background-color: var(--purple2);
        padding: 10px;

        a {
          text-decoration: none;
          color: var(--yellow1);
          font-weight: bold;
        }
      }

      li:hover {
        text-decoration: underline;
        scale: 1.1;
        cursor: pointer;
      }
    }
    .settings-button {
      margin-left: 15px;
      /* Le composant settings a déjà son propre style */
    }
}
