<header class="header">
    <div class="header-container">
      <!-- Logo -->
      <div class="logo">
        <img src="assets/icon.ico" alt="MemoLink" />
      </div>
      <!-- Titre et slogan -->
      <div class="header-text">
        <h1>MemoLink</h1>
        <p>Jeux de tri pour préserver la mémoire</p>
      </div>
      <!-- Menu de navigation -->
      <nav class="nav-menu">
        <ul>
          <li><a routerLink="/home">Accueil</a></li>
          <!-- <li><a routerLink="/exercice-list-manager">Exercices</a></li> -->
          <li><a routerLink="/user-list">Utilisateurs</a></li>
          <li><a routerLink="/conseils">conseils</a></li>
          <li>
            <a routerLink="/exercice-list-manager" routerLinkActive="active">Exercices</a>
          </li>
        </ul>
      </nav>
      <!-- Ajout du bouton de paramètres -->
      <div class="settings-button">
      <app-settings></app-settings>
      </div>
    </div>
</header>

  