<div
  class="left"
  cdkDropList
  id="bulk-list"
  [cdkDropListConnectedTo]="connectedDropListsIds"
  [cdkDropListData]="itemsInBulk"
  (cdkDropListDropped)="itemDropped.emit($event)">

  <div
    *ngFor="let item of itemsInBulk"
    cdkDrag
    class="object-container">

    <img
      [src]="item.imagePath"
      [alt]="item.name"
      class="object-image"
    />

    <!-- récupère le nombre d’erreurs pour cet item -->
    <ng-container>
      <p *ngIf="getFails(item) >= 3" style="font-weight: 650; font-size: 20px; background: #fff; padding: 10px; border-radius: 10px">{{ item.name }}</p>
      <p *ngIf="getFails(item) >= 6" style="font-weight: 650; font-size: 20px; background: #fff; padding: 10px; border-radius: 10px"><em>{{ item.description }}</em></p>
    </ng-container>
  </div>
</div>
