<div class="game-page" *ngIf="exercice && exercice.categories && itemsInBulk">
  <!-- Conteneur des objets en vrac -->

  <!-- Conteneur des objets en vrac -->
  <app-settings-applier>
    <app-game-items-container
      [itemsInBulk]="itemsInBulk"
      [connectedDropListsIds]="connectedDropListsIds"
      (itemDropped)="drop($event)">
      <div *ngIf="numberOfFailure > 3" class="help">
        <p *ngFor="let item of itemsInBulk"> {{ item.name }} </p>

        <ng-container *ngIf="numberOfFailure > 6">
          <p *ngFor="let item of itemsInBulk"> {{ item.description }} </p>
        </ng-container>
      </div>
    </app-game-items-container>
  </app-settings-applier>

  <!-- Conteneurs de catégories -->
  <div class="right">
    <app-settings-applier>
        <app-game-category
      *ngFor="let category of exercice.categories"
      [category]="category"
      [items]="itemsByCategory[category.name]"
      [connectedDropListsIds]="connectedDropListsIds"
      (itemDropped)="drop($event.event, $event.category)">
    </app-game-category>
    </app-settings-applier>
    </div>


  <div *ngIf="successMessage" class="message" [ngStyle]="{color: messageColor,
    fontWeight: settings.textStyle === 'bold' ? 'bold' : 'normal',
    fontStyle: settings.textStyle === 'italic' ? 'italic' : 'normal'}">{{ successMessage }}</div>

  <div *ngIf="gameCompleted" class="restart-button-container">
    <button (click)="quitGame()" class="restart-button">QUITTER LE JEU</button>
  </div>
</div>
