<div class="user-history">
  <h2>Détails de l'utilisateur</h2>

  <div *ngIf="user">
    <p><strong>Nom :</strong> {{ user.firstName }} {{ user.lastName }}</p>
    <p><strong>Âge :</strong> {{ user.age }}</p>
    <p><strong>Particularité :</strong> {{ user.particularity }}</p>
    <p><strong>Rôle :</strong> {{ user.role }}</p>
  </div>

  <hr>

  <h2>Historique de l'utilisateur</h2>

  <!-- Loading state -->
  <div *ngIf="loading">
    <p>Loading user history...</p>
  </div>

  <!-- No history message -->
  <div *ngIf="!loading && userHistory.length === 0">
    <p>No history found for this user.</p>
  </div>

  <!-- Affichage du graphique -->
  <div *ngIf="!loading && userHistory.length > 0" class="graph">
    <canvas #canvas id="canvas"></canvas>
  </div>

  <!-- Display the latest user history -->
  <div *ngIf="userHistory.length > 0" class="card">
    <h3>Dernière exercice : {{ userHistory[userHistory.length - 1].exerciceName }}</h3>
    <p><strong>Nombre d'objets bien placés :</strong> {{ userHistory[userHistory.length - 1].success }}</p>
    <p><strong>Nombre d'objets mal placés :</strong> {{ userHistory[userHistory.length - 1].failure }}</p>
  </div>

</div>
