<div class="user-form-card">
  <form [formGroup]="userForm" (ngSubmit)="addUser()" class="user-form">

    <!-- étape actuelle -->
    <div class="step-indicator">Étape {{ step }} / 2</div>

    <!-- Prénom & Nom -->
    <ng-container *ngIf="step === 1">
      <div class="form-group">
        <label for="firstName">Prénom</label>
        <input id="firstName" type="text" formControlName="firstName" class="input-custom" autocomplete="given-name" required />
        <div *ngIf="userForm.get('firstName')?.invalid && userForm.get('firstName')?.touched" class="error">
          Le prénom est requis.
        </div>
      </div>

      <div class="form-group">
        <label for="lastName">Nom</label>
        <input id="lastName" type="text" formControlName="lastName" class="input-custom" autocomplete="family-name" required />
        <div *ngIf="userForm.get('lastName')?.invalid && userForm.get('lastName')?.touched" class="error">
          Le nom est requis.
        </div>
      </div>

      <!-- Ajout de la photo de profil -->
      <div class="form-group">
        <label for="photo">Photo de profil</label>
        <input type="file" id="photo" (change)="onFileSelected($event)" accept="image/*" />
      </div>


      <button type="button" (click)="nextStep()" class="button-submit">Suivant</button>
    </ng-container>

    <!-- Étape 2 : autres champs -->
    <ng-container *ngIf="step === 2">
      <div class="form-group">
        <label for="age">Âge</label>
        <input id="age" type="number" formControlName="age" class="input-custom" autocomplete="off" />
      </div>

      <div class="form-group">
        <label for="particularity">Particularité</label>
        <input id="particularity" type="text" formControlName="particularity" class="input-custom" autocomplete="off"/>
      </div>

      <div class="form-group">
        <label for="role">Rôle</label>
        <select id="role" formControlName="role" class="input-custom" required>
          <option value="">-- Sélectionnez un rôle --</option>
          <option value="Accueilli">Accueilli(e)</option>
          <option value="Encadrant">Encadrant(e)</option>
          <option value="Autre">Autre</option>
        </select>
        <div *ngIf="userForm.get('role')?.invalid && userForm.get('role')?.touched" class="error">
          Le rôle est requis.
        </div>
      </div>

      <div class="form-group" style="flex-direction: row; justify-content: space-between;">
        <button type="button" (click)="previousStep()" class="button-submit" style="background-color: grey;">Retour</button>
        <button type="submit" [disabled]="userForm.invalid" class="button-submit">
          <i class="fas fa-user-plus"></i> Créer l'utilisateur
        </button>
      </div>

      <div *ngIf="userCreated" class="success-message">
        ✅ Utilisateur créé avec succès !
      </div>
    </ng-container>

  </form>
</div>
