/* You can add global styles to this file, and also import other style files */
/* Ajoutez ces styles à votre fichier styles.scss */
body {
    margin: 0;
    padding: 0;
    background-color: #6a0dad;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
  }